<!-- SPDX-FileCopyrightText: 2020 Splunk Inc (AK Khamis) <akhamis@splunk.com>
SPDX-License-Identifier: Apache-2.0  -->

<div tabindex="-1" class="help_entry-edit-modal modal fade in hide">
	<div class="modal-header">
		<button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
		<h3 class="text-dialog-title">Add New GMC 101 Search</h3>
	</div>
	<div class="modal-body form form-horizontal modal-body-scrolling" style="padding-left: 0px; padding-right: 0px;">
		<div id="help_entry-srch_num-controls" class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_num">
                ID: </label>
			<div class="controls ">
				<input type="text" name="help_entry-srch_num" id="help_entry-srch_num" />
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="help_entry-srch_nme-controls" class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_nme">
                Search Name: </label>
			<div class="controls ">
				<input type="text" name="help_entry-srch_nme" id="help_entry-srch_nme" />
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_cat">
                Category: </label>
			<div class="controls ">
				<select id="help_entry-srch_cat">

<option value="Access_Control">Access_Control</option>
<option value="AIOPS">AIOPS</option>
<option value="Alerting">Alerting</option>
<option value="Analytics">Analytics</option>
<option value="Apps">Apps</option>
<option value="Cloud">Cloud</option>
<option value="Cluster_Master">Cluster_Master</option>
<option value="Clustering">Clustering</option>
<option value="Commands">Commands</option>
<option value="Configuration_Files">Configuration_Files</option>
<option value="Configurations">Configurations</option>
<option value="Dashboards">Dashboards</option>
<option value="Data_Models">Data_Models</option>
<option value="Data_Onboarding">Data_Onboarding</option>
<option value="Deployer">Deployer</option>
<option value="Deployment_Server">Deployment_Server</option>
<option value="DSP">DSP</option>
<option value="Errors">Errors</option>
<option value="ES">ES</option>
<option value="Forwarding">Forwarding</option>
<option value="Framework">Framework</option>
<option value="GMC">GMC</option>
<option value="Health">Health</option>
<option value="Heavy_Forwarder">Heavy_Forwarder</option>
<option value="Identities">Identities</option>
<option value="Indexer_Cluster">Indexer_Cluster</option>
<option value="Indexes">Indexes</option>
<option value="Infrastructure">Infrastructure</option>
<option value="Instrumentation">Instrumentation</option>
<option value="Internal">Internal</option>
<option value="ITOA">ITOA</option>
<option value="ITSI">ITSI</option>
<option value="Knowledge_Objects">Knowledge_Objects</option>
<option value="Licensing">Licensing</option>
<option value="Lookups">Lookups</option>
<option value="Messages">Messages</option>
<option value="Miscellaneous">Miscellaneous</option>
<option value="Mission_Control">Mission_Control</option>
<option value="OS">OS</option>
<option value="Phantom">Phantom</option>
<option value="Platform">Platform</option>
<option value="Queues">Queues</option>
<option value="RBAC">RBAC</option>
<option value="Resource_Usage">Resource_Usage</option>
<option value="REST">REST</option>
<option value="Scheduled_Jobs">Scheduled_Jobs</option>
<option value="Scheduler">Scheduler</option>
<option value="Search">Search</option>
<option value="Search_Head">Search_Head</option>
<option value="Search_Head_Cluster">Search_Head_Cluster</option>
<option value="Security">Security</option>
<option value="SignalFx">SignalFx</option>
<option value="Sourcetypes">Sourcetypes</option>
<option value="SPL">SPL</option>
<option value="Technology_Add-ons">Technology_Add-ons</option>
<option value="UBA">UBA</option>
<option value="Universal_Forwarder">Universal_Forwarder</option>
<option value="Usage">Usage</option>
<option value="User_Interface">User_Interface</option>
<option value="Web">Web</option>
<option value="Workload_Management">Workload_Management</option>
<option value="Other">Other</option>

               </select>
			</div>
		</div>
		<div id="help_entry-srch_tag-controls" class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_tag">
                Tags: </label>
			<div class="controls ">
				<input type="text" name="help_entry-srch_tag" id="help_entry-srch_tag" />
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="help_entry-srch_des-controls" class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_des">
                Description: </label>
			<div class="controls ">
				<textarea name="help_entry-srch_des" id="help_entry-srch_des" rows="10" cols="10"></textarea>
				<span class="help-inline"></span>
			</div>
		</div>

		<div id="help_entry-srch_str-controls" class="control-group shared-controls-controlgroup">
			<label class="control-label" for="help_entry-srch_str">
                Search String: </label>
			<div class="controls ">
				<textarea name="help_entry-srch_str" id="help_entry-srch_str" rows="10" cols="10"></textarea>

				<span class="help-inline"></span>
			</div>
		</div>
		<input type="hidden" name="help_entry-key" id="help_entry-key" />
    </div>
		<div class="modal-footer">
			<a href="#" class="btn btn-dialog-cancel label_from_data pull-left" data-dismiss="modal"
				style="display: inline;">Cancel</a>
			<div class="loading pull-left"></div>
			<a href="#" class="btn btn-primary pull-right save save_help_entry" style="display: inline;">Save</a>
		</div>
	</div>

	<div id="table-container"></div>
	<script type="text/x-template" id="help_entry-list-template">

		<% if(allow_editing_collection && !insufficient_permissions){ %>
<a href="#" class="btn btn-primary pull-left add_help_entry" style="position: relative; top: 22px; display: block;z-index: 1000;">Add New GMC 101 Search</a>
<% } %>

<table id="table" class="table table-striped display">
    <thead>
		<tr>
			<th>ID</th>
            <th>Search Name</th>
            <th>Tags</th> 
            <th>Category</th>
            <% if (!insufficient_permissions){ %>
			<th>Actions</th> <% } %>
            <th>Search String</th> 
		</tr>
	</thead>
	<tbody>
        <% for(var c = 0; c < help_entries.length; c++){
            
                help_entry = help_entries[c];
                //editorUrl = "o";
                //editorUrl = editor + "?" + $.param( { 'key': help_entry._key } );
                
            %>
            <tr>
                <td><%- help_entries[c].srch_num %></td>
                <td><%- help_entries[c].srch_nme %></td>
                <td><%- help_entries[c].srch_tag %></td>
                <td><%- help_entries[c].srch_cat %></td>
                

                <% if(!insufficient_permissions){ %>
                <td>
                    <% if(allow_editing_collection){ %>
                        <% if(help_entries[c].srch_sts){ %>
                            <a class="enable_help_entry" data-srch_sts="false" data-key="<%- help_entry._key %>" href="#">Enable</a> | 
                        <% } else { %>
                            <a class="disable_help_entry" data-srch_sts="true" data-key="<%- help_entry._key %>" href="#">Disable</a> |
                        <% } %>
                      <a class="edit_help_entry" data-key="<%- help_entry._key %>" data-suppression-title="<%- help_entry.title %>" data-suppression-type="<%- help_entry.type %>" data-scope="<%- help_entry.scope %>" href="#">Edit</a>
                    | <a class="remove_help_entry" data-key="<%- help_entry._key %>" href="#">Remove</a>
                    <% } %>
                </td>
                <% } %>
                <td><%- help_entries[c].srch_str %></td>
            </tr>
        <% } %>
    </tbody>        
</table>
</script>