/* SPDX-FileCopyrightText: 2020 Splunk Inc (AK Khamis) <akhamis@splunk.com>
SPDX-License-Identifier: Apache-2.0  */

.tooltip-inner {
    max-width: 800px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    z-index: 3000;
    white-space: normal !important;
}
